@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap');

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1200px !important;
    margin: 0 auto !important;
    width: 90% !important;
}

/* Nav */

nav{
    background: #1A1F38;
}

nav form{
    position: relative;
}

nav form input{
    height: 50px;
    width: 300px;
    border-radius: 8px;
    background: rgba(196, 196, 196, 0.30);
    padding: 10px;
    color: #e3e3e3;
}

nav form button{
    position: absolute;
    top: 8px;
    right: 32px;
}

.search_btn button{
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 10px;

}

.brands_card{
    position: relative;
}

.brands{
    z-index: 4;
    display: grid;
    background-color: #212529 !important;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    grid-gap: 1rem;
    top: 47px;
    left: 0;
    padding: 8px;
    border-radius: 0 0 10px 10px;
}

.brand{
    width: 150px;
    color: #9B9D9E;
    font-size: 14px;
}

.brand a{
    color: #9B9D9E;
    transition: .3s;
    text-decoration: none;
}

.brand a:hover{
    color: #fff;
}

/* Header */

header{
    position: relative;
    height: 91vh;
}

header .frame{
    background-image: url("/static/images/header_bkg.jpeg"  );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* filter: brightness(60%); */
    filter: blur(1.2px);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.header_inner{
    color: #fff;
    position: absolute;
    z-index: 3;
}

.title{
    margin-top: 260px;
    padding-bottom: 10px;
}

/* Detail */

.cars_cards{
    background: #1A1F38;
}

.car_card{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;

}


/* Login */

.login_card{
    width: 400px;
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
}

.login_input2{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    padding: 10px;
    background-color: #b7b7b7;
}

.login_btn{
    padding: 10px;
}






/* Workspace */

.workspace_car_card{
    background: #1A1F38;
    border-radius: 10px;
    overflow: hidden;
}

.workspace_main{
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 25px;
}

.workspace_sidebar{
    width: 100%;
    border: 1px solid;
    padding: 10px;
}

.und_btns a:hover{
    color: rgb(0, 89, 255);
    text-decoration: underline;
}

.brand_cls{
    border-bottom: 1px solid;
}

.sidebar_search{
    border-radius: 10px 0 0 10px;
    padding: 10px;
    background-color: #b7b7b7;
}

.sidebar_search_btn{
    border-radius: 0 10px 10px 0;
}


/* Footer */

/* footer{

}  */